doctype html
html(lang="en")
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/changepass.css")
        link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body 
        a.logo(href="/")
            img(src="/uploads/logo.png", alt)
        span.info Change pass
        .mainDiv
            .cardStyle
                form#signupForm(method="POST", action="/user/password/reset")
                    img(src="/uploads/SHIPSY_LOGO_BIRD_BLUE.png" id="signupLogo")
                    h2.formTitle Đổi mật khẩu
                    .inputDiv
                        label.inputLabel(for="password") Mật khẩu mới
                        input#password(type="password", name="password")
                    .inputDiv
                        label.inputLabel(for="confirmPassword") Xác nhận mật khẩu
                        input#confirmPassword(type="password", name="confirmPassword")   
                    .buttonWrapper
                        button.submitButton.pure-button.pure-button-primary(type="submit")
                            span Continue
    div(id="notification" class="hidden" data-time=5000) 
    script(src="/js/user-detail.js") 
